<h1>Modificar Mini-Blog</h1>

<% form_for(@mini_blog) do |form| %>
  <%= form.error_messages -%>

  <%= render :partial => "form_mini_blog", :locals => {:form => form} %>
  <p>
    <%= form.submit 'Guardar' -%>
  </p>
<% end %>

<%= link_to 'Vista Previa', @mini_blog %> |
<%= link_to 'Atrás', mini_blogs_path %>