<h1>Usuarios</h1>


<table>
    <tr>
        <th>Login</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.login %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.rol %></td>
            <% if current_user.eql?(user) || user.tiene_registro_temporal? %>
                <td><%= button_to 'Borrar', user, :confirm => '¿Deseas realmente borrar éste usuario?', 
                                                  :method => :delete %></td>
            <% end %>
        </tr>    
    <% end %>
</table>

<h2>Contraseña de Registro</h2>

<p><%= @estado %></p>

<%= button_to "Generar", registration_password_path, :method => :post %>
<%= button_to "Mostrar", registration_password_path, :method => :get %>